@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}

#settings, #fullscreen {
    width: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.2s;
    cursor: pointer;
    z-index: 100;
}

#settings {
    top: 75px;
}

#settings:hover {
    rotate: 90deg;
}

#settings-menu {
    width: 80%;
    max-width: 700px;
    height: 80%;
    position: absolute;
    background-color: azure;
    border-radius: 25px;
    border: 10px solid black;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 2;
}

.settings-team-container {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team-1-name-textbox, #team-2-name-textbox {
    margin-top: 15px;
    height: 35px;
    font-size: 2em;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
}

#starttime {
    height: 35px;
    text-align: center;
    font-size: 0.8em;
    width: 200px;
    font-family: 'Signika Negative', sans-serif;
}

#settings-menu.hidden {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}

.edit {
    content: url(imgs/check.svg);
}

:root {
    --team-1-color: rgb(100, 255, 0);
    --team-2-color: rgb(255, 0, 100);
    --team-1-name: "Team 1";
    --team-2-name: "Team 2";
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.team {
    user-select: none;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 2fr .3fr;
    font-size: min(30vw, 50vh);
    color: white;
    text-shadow: rgb(0, 0, 0) 10px 0px 0px, rgb(0, 0, 0) 9.95004px 0.998334px 0px, rgb(0, 0, 0) 9.80067px 1.98669px 0px, rgb(0, 0, 0) 9.55336px 2.9552px 0px, rgb(0, 0, 0) 9.21061px 3.89418px 0px, rgb(0, 0, 0) 8.77583px 4.79426px 0px, rgb(0, 0, 0) 8.25336px 5.64642px 0px, rgb(0, 0, 0) 7.64842px 6.44218px 0px, rgb(0, 0, 0) 6.96707px 7.17356px 0px, rgb(0, 0, 0) 6.2161px 7.83327px 0px, rgb(0, 0, 0) 5.40302px 8.41471px 0px, rgb(0, 0, 0) 4.53596px 8.91207px 0px, rgb(0, 0, 0) 3.62358px 9.32039px 0px, rgb(0, 0, 0) 2.67499px 9.63558px 0px, rgb(0, 0, 0) 1.69967px 9.8545px 0px, rgb(0, 0, 0) 0.707372px 9.97495px 0px, rgb(0, 0, 0) -0.291995px 9.99574px 0px, rgb(0, 0, 0) -1.28844px 9.91665px 0px, rgb(0, 0, 0) -2.27202px 9.73848px 0px, rgb(0, 0, 0) -3.2329px 9.463px 0px, rgb(0, 0, 0) -4.16147px 9.09297px 0px, rgb(0, 0, 0) -5.04846px 8.63209px 0px, rgb(0, 0, 0) -5.88501px 8.08496px 0px, rgb(0, 0, 0) -6.66276px 7.45705px 0px, rgb(0, 0, 0) -7.37394px 6.75463px 0px, rgb(0, 0, 0) -8.01144px 5.98472px 0px, rgb(0, 0, 0) -8.56889px 5.15501px 0px, rgb(0, 0, 0) -9.04072px 4.2738px 0px, rgb(0, 0, 0) -9.42222px 3.34988px 0px, rgb(0, 0, 0) -9.70958px 2.39249px 0px, rgb(0, 0, 0) -9.89993px 1.4112px 0px, rgb(0, 0, 0) -9.99135px 0.415807px 0px, rgb(0, 0, 0) -9.98295px -0.583741px 0px, rgb(0, 0, 0) -9.8748px -1.57746px 0px, rgb(0, 0, 0) -9.66798px -2.55541px 0px, rgb(0, 0, 0) -9.36457px -3.50783px 0px, rgb(0, 0, 0) -8.96758px -4.4252px 0px, rgb(0, 0, 0) -8.481px -5.29836px 0px, rgb(0, 0, 0) -7.90968px -6.11858px 0px, rgb(0, 0, 0) -7.25932px -6.87766px 0px, rgb(0, 0, 0) -6.53644px -7.56803px 0px, rgb(0, 0, 0) -5.74824px -8.18277px 0px, rgb(0, 0, 0) -4.90261px -8.71576px 0px, rgb(0, 0, 0) -4.00799px -9.16166px 0px, rgb(0, 0, 0) -3.07333px -9.51602px 0px, rgb(0, 0, 0) -2.10796px -9.7753px 0px, rgb(0, 0, 0) -1.12153px -9.93691px 0px, rgb(0, 0, 0) -0.123887px -9.99923px 0px, rgb(0, 0, 0) 0.87499px -9.96165px 0px, rgb(0, 0, 0) 1.86512px -9.82453px 0px, rgb(0, 0, 0) 2.83662px -9.58924px 0px, rgb(0, 0, 0) 3.77978px -9.25815px 0px, rgb(0, 0, 0) 4.68517px -8.83455px 0px, rgb(0, 0, 0) 5.54374px -8.32267px 0px, rgb(0, 0, 0) 6.34693px -7.72764px 0px, rgb(0, 0, 0) 7.0867px -7.0554px 0px, rgb(0, 0, 0) 7.75566px -6.31267px 0px, rgb(0, 0, 0) 8.34713px -5.50686px 0px, rgb(0, 0, 0) 8.8552px -4.64602px 0px, rgb(0, 0, 0) 9.27478px -3.73877px 0px, rgb(0, 0, 0) 9.6017px -2.79415px 0px, rgb(0, 0, 0) 9.83268px -1.82162px 0px, rgb(0, 0, 0) 9.96542px -0.830894px 0px;
    z-index: 0;
}

.name-text {
    font-size: .2em;
    width: 100%;
    text-align: center;
}

#team-1 {
    background-color: var(--team-1-color);
}

#team-2 {
    background-color: var(--team-2-color);
}

.point-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(25px);
}

.timer-container {
    position: absolute;
    max-width: 500px;
    width: 50%;
    height: 50px;
    background-color: white;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    font-size: 3em;
    border-radius: 0 0 25px 25px;
    top: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: .3fr 1fr .15fr .15fr;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

#timer > #starttime {
    background-color: red;
    z-index: 2;
    width: 100px;
    height: 100px;
}

.edit-time {
    background-color: white;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    top: -12px;
    left: -10px;
    width: 100%;
}

.timer-container > img {
    height: 25px;
    cursor: pointer;
    transition: .2s;
}

.timer-container > img:hover {
    scale: 1.2;
}



#pauseplay.pause {
    content: url(imgs/pause.svg);
}


.subpoint-text {
    font-size: .3em;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.fullscreened {
    content: url(imgs/exitfullscreen.svg);
}